.body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
:root {
  --main-color: #2196f3;
  --secondary-color: white;
  --third-color: #757575;
  --fourth-color: #ffffff;
  --fifth-color: #212121;
  --sixth-color: #f5f4fa;
  --seventh-color: #2f303a;
  --eighth-color: #e5e5e5;
  --nineth-color: #000000;
  --tenth-color: black;
  --eleven-color: #4d5ae5;
  --twelwe-color: #2e2f42;
  --thirtin-color: #434455;
  --forteen-color: #f4f4fd;
}
.logo1 {
  color: var(--main-color);
  font-family: raleway;
  font-size: 26px;
  font-style: bold;
  line-height: 31px;
  line-height: 100%;
  align: left;
  vertical-align: top;
  letter-spacing: 3%;
  text-decoration: none;
}

.logo2 {
  color: var(--fifth-color);
  text-decoration: none;
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  font-family: raleway;
  letter-spacing: 3%;
  line-height: 31px;
  line-height: 100%;
  align: left;
}
.logo3 {
  color: var(--main-color);
  font-weight: 700;
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  font-family: raleway;
  letter-spacing: 3%;
  line-height: 31px;
  line-height: 100%;
  align: left;
  text-decoration: none;
}
.logo4 {
  font-weight: 700;
  font-size: 26px;
  font-style: bold;
  font-family: raleway;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--fourth-color);
}
.hero {
  border-bottom: solid #e7e9fc;
  border-bottom: 1px;
}
.button {
  cursor: pointer;
  background-color: #e7e9fc;
  color: #4d5ae5;

  font-weight: 700;
  color: var(--secondary-color);
}
.button:hover {
  background-color: #4d5ae5;
  color: #ffffff;
}
.button-1 {
  min-width: 200px;
  padding: 10px 41px;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-color);
  line-height: 1.88;

  letter-spacing: 0.06em;
  margin: auto;
  display: block;

  font-weight: 700;
  color: var(--secondary-color);
  background-color: #4d5ae5;
}
.button-1:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.button-1:focus {
  cursor: pointer;
}
a:hover {
  color: #4d5ae5;
}
a:active {
}
a {
  text-decoration: none;
}
.links {
  cursor: pointer;
  text-decoration: none;
  color: var(--thirtin-color);
}
.links:hover {
  color: #2196f3;
}
.link {
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 2%;
  font-family: robotto;
  font-weight: 500;
}
.ul {
  text-decoration: none;
}
.li {
  text-decoration: none;
}

.h4 {
  font-family: robotto;
  font-weight: 500;
  letter-spacing: 2%;
  color: #2e2f42;
}
.p {
  color: #434455;
  font-weight: 400;
}
.images4 {
  font-weight: 500;
  letter-spacing: 2%;
}
.nav-1 {
  display: flex;
  margin: 5%, auto;
  list-style: none;
  padding-left: 25px;
  gap: 24px;
}

.header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  width: 1158px;
  height: 72px;
}
.header-1 {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  width: 1158px;
  height: 72px;
}

.contats {
  display: flex;
  list-style: none;
  gap: 24px;
  margin-left: 700px;
  text-decoration: none;
}
.buisness {
  height: 600px;
  background-color: var(--twelwe-color);
  color: var(--fourth-color);
}
.effective {
  padding-top: 200px;
  text-align: center;
  padding-bottom: 50px;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
}
.strategy {
  display: flex;
  text-decoration: none;
  width: 1128px;
  height: 104px;
  list-style: none;
  margin-top: 100px;
  margin-left: 90px;
  padding-left: 40px;
  gap: 30px;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}

.images-3 {
  display: flex;
  text-decoration: none;
  list-style: none;
  display: inline- block;
  gap: 20px;
  padding-bottom: 70px;
}
.images-4 {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 20px;
  display: inline- block;
}
.hero-footer {
  width: 1440px;
  height: 312px;
  background-color: var(--twelwe-color);
  margin-top: 100px;
  padding-top: 76px;
  padding-left: 76px;
}
.footer-1 {
  color: var(--forteen-color);
}

.hero-team {
  width: 1158px;
  height: 732px;
  background-color: var(--forteen-color);
}
.buttons-5 {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  margin-top: 80px;
  margin-bottom: auto;
  gap: 24px;
}

.lol {
  background-color: #f4f4fd;
  color: #4d5ae5;
  width: 80px;
  height: 30px;
  margin-bottom: 50px;
  border-radius: 4px;
}
.lol:hover {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}
.images-all {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
}

.our-team {
  margin-left: 700px;
  padding-bottom: 50px;
  padding-top: 70px;
}

.images-9 {
  border-left: 1px;
  border-bottom: 1px;
  border-right: 1px;
  border-top: 0px;
  border-color: #e7e9fc;
  border-style: solid;
  margin: 0;
  border-radius: 4%;
  height: 100px;
}
.images-8 {
  border-left: 1px;
  border-bottom: 1px;
  border-right: 1px;
  border-top: 0px;
  border-color: #2e2f42;
  border-style: solid;
  margin: 0;
  border-radius: 4%;
  height: 100px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
